@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,body, div, p, h3{
  font-family: 'Poppins'
  /* font-family: 'Poppins', sans-serif; */
}
@media only screen and (max-width: 600px) {
  .mobile-container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1200px) {
  .desktop-container {
    max-width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 900px) {
  .curved{
    display:none;
  }
}

.curved {
  position: relative;
  background: #D1D1D1;
  height: 25vh;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

